<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
    <title>Malaria Disease Detection</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Malaria Disease Detection</h1>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="imageUpload">
                </div>
                <div class="text-center">
                    <img src="" alt="uploaded image" id="uploadedImage" class="img-fluid rounded" hidden>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" id="predictButton" disabled>Predict</button>
                </div>
                <div class="text-center mt-3" id="predictionResult" hidden>
                    <h4>Prediction: <span id="resultText"></span></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/static/js/main.js"></script> -->
</body>

</html>